Repository energychain/willi-mako-client, changes with the owners that .github/CODEOWNERS names for each.
All owners: @energychain/maintainers, @energychain/core-team, @energychain/documentation, @energychain/devops, @energychain/security

chore: bump jsr.json to v0.9.2
  jsr.json
Owners: @energychain/maintainers

chore: Release v0.9.3 - Flexible Token Authentication
  CHANGELOG.md
  README.md
  TOKEN_DEBUG_REPORT.md
  TOKEN_RESOLUTION_SUMMARY.md
  TOKEN_SCRIPTS_README.md
  TOKEN_WORKING_CONFIRMATION.md
  analyze-token-format.ts
  debug-token.ts
  package.json
  test-login.ts
  test-token-extended.ts
  validate-token.ts
Owners: @energychain/maintainers

chore: Release v0.9.3 - Flexible Token Authentication
  CHANGELOG.md
  README.md
  TOKEN_DEBUG_REPORT.md
  TOKEN_RESOLUTION_SUMMARY.md
  TOKEN_SCRIPTS_README.md
  TOKEN_WORKING_CONFIRMATION.md
  analyze-token-format.ts
  debug-token.ts
  package.json
  test-login.ts
  test-token-extended.ts
  validate-token.ts
Owners: @energychain/maintainers

feat: Add streaming chat support and release v1.0.0
  AUTH_LOGIN_DIAGNOSTIC.md
  BACKEND_STREAMING_ANALYSIS.md
  CHANGELOG.md
  GIT_COMMIT_TEMPLATE.md
  IMPLEMENTATION_SUMMARY.md
  README.md
  RELEASE_0.9.3.md
  RELEASE_1.0.0.md
  diagnose-auth-login.ts
  docs/API.md
  docs/STREAMING.md
  docs/TROUBLESHOOTING.md
  examples/streaming-chat.ts
  package.json
  src/cli.ts
  src/index.ts
  src/types.ts
  test-auth-login.ts
Owners: @energychain/maintainers, @energychain/documentation, @energychain/core-team

docs: Update to API v1.0.1 - Document backend heartbeat issue
  CHANGELOG.md
  RELEASE_1.0.1.md
  docs/STREAMING.md
  package.json
  schemas/openapi.json
  src/index.ts
Owners: @energychain/maintainers, @energychain/documentation, @energychain/core-team

feat: Add polling support and backend heartbeat fix (v1.0.2)
  CHANGELOG.md
  RELEASE_1.0.2.md
  docs/POLLING.md
  examples/polling-chat.ts
  package.json
  schemas/openapi.json
  src/index.ts
  src/types.ts
Owners: @energychain/maintainers, @energychain/documentation, @energychain/core-team

feat: Add OpenAI-compatible chat completions (v1.1.0)
  PUBLISH_INSTRUCTIONS.md
  README.md
  RELEASE_1.0.2.md
  RELEASE_1.1.0.md
  examples/openai-compatible-chat.ts
  package.json
  schemas/openapi.json
  src/cli.ts
  src/demos/mcp-server.ts
  src/index.ts
  src/types.ts
Owners: @energychain/maintainers, @energychain/core-team

fix(mcp): pass pathToken to createSessionContext during initialization
  CHANGELOG.md
  jsr.json
  package.json
  src/demos/mcp-server.ts
Owners: @energychain/maintainers, @energychain/core-team

fix(ci): use Node 18 compatible Vitest
  package-lock.json
  package.json
Owners: @energychain/maintainers

docs: add public ecosystem architecture map
  ECOSYSTEM.md
Owners: @energychain/maintainers

.github/CODEOWNERS:

# Code Owners for willi-mako-client
# These owners will be automatically requested for review when PRs are opened

# Global owners
* @energychain/maintainers

# Core SDK
/src/ @energychain/core-team

# Documentation
/docs/ @energychain/documentation

# CI/CD & Infrastructure
/.github/ @energychain/devops
/examples/docker/ @energychain/devops

# Security-sensitive files
/SECURITY.md @energychain/security
/.github/workflows/ @energychain/security
