Repository energychain/willi-mako-client, changes with the owners that .github/CODEOWNERS names for each.
All owners: @energychain/maintainers, @energychain/core-team, @energychain/documentation, @energychain/devops, @energychain/security

chore: update package scope from @stromhaltig to @stromdao
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  SECURITY.md
  docs/API.md
  docs/EXAMPLES.md
  docs/TROUBLESHOOTING.md
  examples/docker/Dockerfile
  examples/docker/README.md
  examples/invoic-archive.ts
  examples/mscons-clearing.ts
  examples/orders-incident-report.ts
  examples/pricat-price-sync.ts
  examples/utilmd-audit.ts
  package-lock.json
  package.json
  scripts/publish.sh
  src/index.ts
Owners: @energychain/devops, @energychain/maintainers, @energychain/security, @energychain/documentation, @energychain/core-team

chore: remove scope from package name
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  SECURITY.md
  docs/API.md
  docs/EXAMPLES.md
  docs/TROUBLESHOOTING.md
  examples/docker/Dockerfile
  examples/docker/README.md
  examples/invoic-archive.ts
  examples/mscons-clearing.ts
  examples/orders-incident-report.ts
  examples/pricat-price-sync.ts
  examples/utilmd-audit.ts
  package-lock.json
  package.json
  scripts/publish.sh
  src/index.ts
Owners: @energychain/devops, @energychain/maintainers, @energychain/security, @energychain/documentation, @energychain/core-team

feat: add comprehensive distribution strategy and tooling
  .github/package.json
  .github/workflows/docs.yml
  .github/workflows/publish-gpr.yml
  docs/ANNOUNCEMENT_TEMPLATES.md
  docs/DISTRIBUTION_STRATEGY.md
  docs/DISTRIBUTION_TRACKING.md
  docs/QUICK_DISTRIBUTION.md
  jsr.json
  scripts/generate-announcements.sh
  scripts/quick-distribute.sh
Owners: @energychain/devops, @energychain/security, @energychain/documentation, @energychain/maintainers

docs: add distribution strategy executive summary
  docs/DISTRIBUTION_SUMMARY.md
Owners: @energychain/documentation

chore(release): v0.2.0
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SETUP_COMPLETE.md
  docs/ANNOUNCEMENT_TEMPLATES.md
  docs/API.md
  docs/DISTRIBUTION_STRATEGY.md
  docs/DISTRIBUTION_SUMMARY.md
  docs/DISTRIBUTION_TRACKING.md
  docs/EXAMPLES.md
  docs/INTEGRATIONS.md
  docs/QUICK_DISTRIBUTION.md
  docs/TROUBLESHOOTING.md
  examples/mcp-server.ts
  examples/web-dashboard.ts
  package-lock.json
  package.json
  scripts/publish.sh
  src/cli.ts
  src/index.ts
  src/types.ts
  tests/client.test.ts
Owners: @energychain/maintainers, @energychain/documentation, @energychain/core-team

chore: annotate require for jsr
  src/index.ts
Owners: @energychain/core-team

chore: update jsr version to 0.2.0
  jsr.json
Owners: @energychain/maintainers

chore(release): v0.2.1
  CHANGELOG.md
  README.md
  jsr.json
  package.json
  src/cli-utils.ts
  src/cli.ts
  src/demos/web-dashboard.ts
  tests/cli-utils.test.ts
Owners: @energychain/maintainers, @energychain/core-team

release: v0.2.2
  .gitpod.yml
  CHANGELOG.md
  README.md
  docs/INTEGRATIONS.md
  jsr.json
  package-lock.json
  package.json
  src/cli.ts
  src/demos/mcp-server.ts
  src/demos/web-dashboard.ts
  tests/mcp-server.test.ts
  tests/web-dashboard.test.ts
Owners: @energychain/maintainers, @energychain/documentation, @energychain/core-team

chore: prepare release 0.2.3
  CHANGELOG.md
  README.md
  docs/INTEGRATIONS.md
  jsr.json
  package-lock.json
  package.json
  src/cli.ts
  src/demos/mcp-server.ts
  src/demos/web-dashboard.ts
  src/index.ts
  src/types.ts
Owners: @energychain/maintainers, @energychain/documentation, @energychain/core-team

chore: release 0.3.0
  CHANGELOG.md
  README.md
  docs/INTEGRATIONS.md
  jsr.json
  package-lock.json
  package.json
  src/cli.ts
  src/demos/mcp-server.ts
  src/index.ts
  src/tool-generation.ts
  tests/tool-generation.test.ts
Owners: @energychain/maintainers, @energychain/documentation, @energychain/core-team

chore: release 0.3.1
  CHANGELOG.md
  README.md
  package.json
  src/cli.ts
  src/demos/mcp-server.ts
  src/index.ts
  src/tool-generation.ts
  src/types.ts
  tests/mcp-server.test.ts
  tests/tool-generation.test.ts
Owners: @energychain/maintainers, @energychain/core-team

release: 0.3.2
  CHANGELOG.md
  README.md
  docs/EXAMPLES.md
  docs/INTEGRATIONS.md
  examples/mcp-server.ts
  package.json
  scripts/local-pack-install.sh
  src/cli.ts
  src/demos/mcp-server.ts
  src/demos/web-dashboard.ts
  src/index.ts
  src/tool-generation.ts
  src/types.ts
  tests/tool-generation.test.ts
Owners: @energychain/maintainers, @energychain/documentation, @energychain/core-team

chore(release): v0.3.3
  .gitignore
  CHANGELOG.md
  README.md
  docs/API.md
  docs/EXAMPLES.md
  docs/INTEGRATIONS.md
  examples/mcp-server.ts
  jsr.json
  package-lock.json
  package.json
  schemas/openapi.json
  src/cli.ts
  src/demos/mcp-server.ts
  src/demos/web-dashboard.ts
  src/gemini.ts
  src/index.ts
  src/tool-generation.ts
  src/tool-hints.ts
  src/types.ts
  tests/client.test.ts
  tests/tool-generation.test.ts
  tests/tool-hints.test.ts
  tests/web-dashboard.test.ts
Owners: @energychain/maintainers, @energychain/documentation, @energychain/core-team

chore(release): v0.3.3
  docs/API.md
  src/index.ts
Owners: @energychain/documentation, @energychain/core-team

chore(release): v0.3.4
  CHANGELOG.md
  bin/willi-mako.cjs
  docs/TROUBLESHOOTING.md
  jsr.json
  package.json
Owners: @energychain/maintainers, @energychain/documentation

chore(release): v0.3.5
  CHANGELOG.md
  README.md
  docs/MCP_SERVICE.md
  jsr.json
  package.json
  src/demos/mcp-server.ts
Owners: @energychain/maintainers, @energychain/documentation, @energychain/core-team

chore(release): v0.3.6
  CHANGELOG.md
  docs/MCP_SERVICE.md
  jsr.json
  package.json
  src/demos/mcp-server.ts
Owners: @energychain/maintainers, @energychain/documentation, @energychain/core-team

chore: release v0.4.0
  CHANGELOG.md
  docs/MCP_SERVICE.md
  jsr.json
  package.json
  src/demos/mcp-server.ts
  tests/mcp-server.test.ts
Owners: @energychain/maintainers, @energychain/documentation, @energychain/core-team

Release v0.5.0: Document Management Features
  CHANGELOG.md
  README.md
  docs/DISTRIBUTION_TRACKING.md
  package.json
  schemas/openapi.json
  src/cli.ts
  src/demos/mcp-server.ts
  src/index.ts
  src/types.ts
  tests/documents.test.ts
Owners: @energychain/maintainers, @energychain/documentation, @energychain/core-team

Update DISTRIBUTION_TRACKING.md for v0.5.0
  docs/DISTRIBUTION_TRACKING.md
Owners: @energychain/documentation

Add MCP document upload tools (URL + Base64)
  CHANGELOG.md
  README.md
  tests/mcp-server.test.ts
Owners: @energychain/maintainers

Release v0.5.1: MCP Document Upload Tools
  CHANGELOG.md
  package.json
Owners: @energychain/maintainers

Update DISTRIBUTION_TRACKING.md for v0.5.1
  docs/DISTRIBUTION_TRACKING.md
Owners: @energychain/documentation

feat: Add willi-netz and combined collection support (v0.6.0)
  CHANGELOG.md
  package.json
  schemas/openapi.json
  src/cli.ts
  src/demos/mcp-server.ts
  src/index.ts
  src/types.ts
Owners: @energychain/maintainers, @energychain/core-team

fix: Remove eslint any type warnings in CLI
  src/cli.ts
Owners: @energychain/core-team

feat: EDIFACT Message Analyzer v0.7.0
  CHANGELOG.md
  README.md
  docs/API.md
  docs/EDIFACT_ANALYZER.md
  examples/edifact-analyzer-demo.ts
  package.json
  schemas/openapi.json
  src/cli.ts
  src/demos/mcp-server.ts
  src/demos/web-dashboard.ts
  src/index.ts
  src/types.ts
  tests/edifact-analyzer.test.ts
Owners: @energychain/maintainers, @energychain/documentation, @energychain/core-team

feat: add market partners search (v0.7.1)
  CHANGELOG.md
  MARKET_PARTNERS_IMPLEMENTATION.md
  README.md
  docs/API.md
  docs/EXAMPLES.md
  examples/market-partner-search.ts
  schemas/openapi.json
  src/cli.ts
  src/demos/mcp-server.ts
  src/demos/web-dashboard.ts
  src/index.ts
  src/types.ts
  tests/market-partner-search.test.ts
Owners: @energychain/maintainers, @energychain/documentation, @energychain/core-team

chore: bump version to 0.7.1
  package.json
Owners: @energychain/maintainers

fix: CLI global installation in Cloud IDEs
  .devcontainer/setup.sh
  .gitpod.yml
  .stackblitzrc
  docs/CODESPACES_QUICKSTART.md
  package.json
Owners: @energychain/maintainers, @energychain/documentation

chore: release v0.7.3
  CHANGELOG.md
  package.json
Owners: @energychain/maintainers

docs: fix CLI command syntax for market-partners search
  .devcontainer/setup.sh
  .gitpod.yml
  CHANGELOG.md
  README.md
  docs/CODESPACES_QUICKSTART.md
  docs/GITPOD_QUICKSTART.md
Owners: @energychain/maintainers, @energychain/documentation

feat: auto-login with environment variables (v0.7.4)
  CHANGELOG.md
  docs/CODESPACES_QUICKSTART.md
  docs/GITPOD_QUICKSTART.md
  package.json
  src/cli.ts
Owners: @energychain/maintainers, @energychain/documentation, @energychain/core-team

chore: update to version 0.8.0 with extended knowledge coverage
  CHANGELOG.md
  README.md
  docs/API.md
  jsr.json
  package.json
  schemas/openapi.json
Owners: @energychain/maintainers, @energychain/documentation

docs: update README quick overview to reflect expanded platform positioning
  README.md
Owners: @energychain/maintainers

docs: expand example documentation to highlight comprehensive platform capabilities
  docs/EXAMPLES.md
  docs/USE_CASE_GALLERY.md
Owners: @energychain/documentation

docs: add strategic research use case demonstrating extended knowledge capabilities
  docs/USE_CASE_GALLERY.md
Owners: @energychain/documentation

fix: improve error messages and add helpful token expiry guidance (v0.8.2)
  .github/workflows/docs.yml
  CHANGELOG.md
  docs/CI_CD.md
  docs/DISTRIBUTION_STRATEGY.md
  docs/MCP_SERVICE.md
  jsr.json
  package.json
  src/demos/mcp-server.ts
  src/index.ts
Owners: @energychain/security, @energychain/maintainers, @energychain/documentation, @energychain/core-team

Release v0.9.1: Market role filtering, CSV export, increased limits
  CHANGELOG.md
  README.md
  docs/API.md
  docs/EXAMPLES.md
  examples/mcp-server.ts
  jsr.json
  package.json
  schemas/openapi.json
  src/cli.ts
  src/index.ts
  src/types.ts
  tests/market-partner-search.test.ts
  vnb.csv
Owners: @energychain/maintainers, @energychain/documentation, @energychain/core-team

feat: Structured Data Integration (v0.9.2)
  CHANGELOG.md
  README.md
  docs/STRUCTURED_DATA.md
  examples/structured-data-query.ts
  package.json
  schemas/openapi.json
  src/cli.ts
  src/demos/mcp-server.ts
  src/index.ts
  src/types.ts
  tests/structured-data.test.ts
Owners: @energychain/maintainers, @energychain/documentation, @energychain/core-team

.github/CODEOWNERS:

# Code Owners for willi-mako-client
# These owners will be automatically requested for review when PRs are opened

# Global owners
* @energychain/maintainers

# Core SDK
/src/ @energychain/core-team

# Documentation
/docs/ @energychain/documentation

# CI/CD & Infrastructure
/.github/ @energychain/devops
/examples/docker/ @energychain/devops

# Security-sensitive files
/SECURITY.md @energychain/security
/.github/workflows/ @energychain/security
